<p>home works!</p>
<header class="main-header">
    <div class="container container--flex">
        <div class="logo-container column column--50">
            <h1 class="logo">
                Denuncia ciudadana
            </h1>
        </div>
    </div>
    <div class="main-header__contactInfo column column--50">
        <p class="main-header__contactInfo--phone">
            <span class="icon-loc1">Bogotá D.C.</span>
        </p>
        <p class="main-header__contactInfor_address">
            <span class="icon-loc3">Colombia</span>
        </p>
    </div>
</header>
<nav class="main-nav">
  <div class="container container--flex">
     <span class="icon-btnmenu" id="menu"></span>

      <ul class="menu" id="menu">
          <li class="menu__item"><a href="/" class="menu__link menu__link--select">Inicio</a></li>
          <li class="menu__item"><a href="eventos.html" class="menu__link">Registro De Eventos</a></li>
          <li class="menu__item"><a href="tecnica.html" class="menu__link">Herramienta Eventos</a></li>
          <li class="menu__item"><a href="contacto.html" class="menu__link">Contacto</a></li>
      </ul>
      <div class="social-icon">
          <a href="" class="social-icon__link"><span class="icon-facebook"></span></a>
          <a href="" class="social-icon__link"><span class="icon-twitter"></span></a>
          <a href="" class="social-icon__link"><span class="icon-mail"></span></a>
      </div>
  </div>
</nav>
