<!-- <header class="main-header">
    <div class="container container--flex">
        <div class="logo-container column column--50">
            <h1 class="logo">
                Denuncia ciudadana
            </h1>
        </div>
    </div>
    <div class="main-header__contactInfo column column--50">
        <p class="main-header__contactInfo--phone">
            <span class="icon-loc1">Bogotá D.C.</span>
        </p>
        <p class="main-header__contactInfor_address">
            <span class="icon-loc3">Colombia</span>
        </p>
    </div>
</header> -->

<section class="banner">
  <img src="./assets/bogota1.jpg" alt="" class="banner__img">
  <div class="banner__content">Herramienta de Denuncia Ciudadana</div>
</section>

<main class="main">
  <section class="group group--color">
      <div class="container">
          <h2 class="main__tittle">
              Bienvenido al aplicativo de Denuncia Ciudadana Universidad Distrital Francisco José de Caldas
          </h2>
          <p class="main__txt">Texto de relleno </p>
      </div>
  </section>
  <section class="group main__about__description">
      <div class="container container--flex">
           <div class="column column--50">
               <img src="./assets/bogota1.jpg" alt="">
           </div>
           <div class="column column--50">
               <h3 class="colum__tittle">Un aplicativo al alcance de todos</h3>
               <p class="column__txt">Este aplicativo nace como un proyecto de grado....</p>
               <a href="" class="btn btn--contact">Contacto</a>
           </div>
      </div>
  </section>
  <section class="group main__about__description">
    <div class="container container__flex">
        <div class="column column--50">
            <img src="./assets/ciud3.png" alt="" class="today-special__img">
        </div>
        <div class="column column--50">
            <img src="./assets/ciud4.png" alt="" class="today-special__img">
        </div>
    </div>
</section>
</main>

