<section class="banner">
  <img src="./assets/bogota1.jpg" alt="" class="banner__img">
  <div class="banner__content">Herramienta de Denuncia Ciudadana</div>
</section>


<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-6">
                      <h2>Eventos Criminales</h2>
                  </div>
                  <div class="col-sm-6">
                      <button (click)="printReport()" type="button" class="btn btn-primary">Descarga Eventos</button>
                      <span>
                          <select (ngModelChange)="filterServers($event)" name="status" ngModel="ALL"
                              class="btn btn-info" style="height: 32.91px;">
                              <option value="ALL">Todos</option>
                              <option value="COSQUILLEO">Cosquilleo</option>
                              <option value="FLETEO">Fleteo</option>
                              <option value="INTERNET">Internet</option>
                              <option value="VEHICULO">Vehiculo</option>
                              <option value="RESIDENCIAL">Residencial</option>
                              <option value="VIOLACION">Violacion</option>
                              <option value="ASESINATO">Asesinato</option>
                              <option value="OTRO">Otro</option>
                          </select>
                      </span>
                  </div>
              </div>
          </div> <br>
          <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
              <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                  <div class="col-md-12 single-note-item text-center">
                      <div class="spinner-border text-info" role="status"></div>
                  </div>
              </ng-container>
              <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                  <table class="table table-striped table-hover" id="servers">
                      <thead>
                          <tr>
                              <th>Dirección</th>
                              <th>Latitud</th>
                              <th>Longitud</th>
                              <th>Tipo</th>
                              <th>Fecha</th>
                          </tr>
                      </thead>
                      <tbody *ngFor="let server of appState.appData.data.servers; let i = index" >
                          <tr>
                              <td>{{ server.direccion }}</td>
                              <td>{{ server.latitud }}</td>
                              <td>{{ server.longitud }}</td>
                              <td>{{ server.tipo }}</td>
                              <td>{{ server.fecha }}</td>
                      </tbody>
                  </table>
              </ng-container>
              <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                  <div class="alert-danger">
                      {{ appState.error }}
                  </div>
              </ng-container>
          </ng-container>
      </div>
  </div>
</div>
