@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.table-responsive {
  margin: 15px 0;
}

.table-wrapper {
  background: #928f8f;
  padding: 20px 25px;
  border-radius: 3px;
  min-width: 1000px;
  box-shadow: 0 1px 1px rgb(0, 0, 0);
}

.table-title {
  padding-bottom: 15px;
  background: #de423adf;
  color: #ffffff;
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 3px 0 0;
  font-size: 24px;
}

.table-title .btn-group {
  float: right;
}

.table-title .btn {
  color: #ffffff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
  background: #928f8f;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th,
table.table tr td {
  border-color: #ffffff;
  padding: 8px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 500px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #928f8f;
}

table.table-striped.table-hover tbody tr:hover {
  background: #928f8f;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #928f8f;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

table.table td a:hover {
  color: #000000;
}

table.table td a.edit {
  color: #FFC107;
}

table.table td a.delete {
  color: #F44336;
}

table.table td i {
  font-size: 30px;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}

.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover {
  color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
  background: #000000;
}

.pagination li.active a:hover {
  background: #000000;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

/* Custom checkbox */
.custom-checkbox {
  position: relative;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}

.custom-checkbox label:before {
  width: 18px;
  height: 18px;
}

.custom-checkbox label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
  border-color: #000000;
  background: #000000;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
  border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
  color: #b8b8b8;
  cursor: auto;
  box-shadow: none;
  background: #ddd;
}

/* Modal styles */
.modal .modal-dialog {
  max-width: 400px;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}

.modal .modal-content {
  border-radius: 3px;
  font-size: 14px;
}

.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}

.modal .modal-title {
  display: inline-block;
}

.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}

.modal textarea.form-control {
  resize: vertical;
}

.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}

.modal form label {
  font-weight: normal;
}
.pointer {
  cursor: pointer;
}

/*Estilos base*/
/* img{
    display: block;
    width: 100%;
    max-width: 100%
} */
img{
  display:block;
  width: 100%;
  max-width: 100%;
  height: 30%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}
.container {
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 100;
}
/*-----Estilos del Header------*/
.main-header{
    width: 100;
}
.logo {
    font-size: 1.8em;
    color: #DE423A;
    padding: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
}
.main-header__contactInfo__phone{
    background: #DE423A;
    color: white;
    margin: 0 auto;
    padding: 10px;
}
.main-header__contactInfo__phone{
    padding: 10px;
    margin: 0;
}
.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}
/*-----Estilos del Menu------*/
.main_nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}

.icon-btnmenu {
    display: block;
    color: white;
    border: 1px solid red;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    text-decoration: none;
}
.social_icon {
    display: flex;
    justify-content: space-between;
}
.social-icon[class*="icon-"] {
    color: red;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon__link {
    color: blue;
    text-decoration: none;
}
.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.85);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}
.menu__link {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu__link:hover{
    background: #DE423A;
}
.menu__link--select {
    background: #DE423A;
}
.mostrar {
    height: 196px;
}

/*-----Estilos del Banner------*/
/* .banner {
    margin-top: -30px;
    position: relative;
} */

.banner {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  position: relative;
}
/* .banner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
  top: 0;
} */
.banner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 400px;
  background: rgba(0,0,0,0.7);
  z-index: 100;
  top: 0;
}
/* .banner__img {
    width: 100%;
    height: 1px;
    object-fit: cover;
} */
.banner__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
/* .banner__content {
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
} */
.banner__content {
  width: 100%;
  height: 50%;
  color: white;
  text-align: center;
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5em;
  font-weight: bold;
  padding: 1px;
}

/*------Estilos Principales----*/

.group--color .container{
    background: #DE423A;
    color: white;
    padding: 10px;
    text-align: center;
}
.main__title {
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
}

.column__title {
    font-size: 1.3em;
}

.main__about__description .column:nth-child(2){
    page-break-after: 10px;
}
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: #DE423A;
    color: white;
    padding: 10px;
    margin: 10px auto;
}
.group__title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}
.today-special .column {
    margin-bottom: 30px;
    text-align: center;
}
.today-special__img{
    margin: auto;
    max-width: 350px;

}
.today-special__title{
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
}
.today-special__price {
    font-size: 1.5em;
    color: #DE423A;
    font-weight: bold;
}

/*------Estilos del Footer----*/
.main-footer {
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}
.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.main-footer [class*="icon-"]{
    color: white;
    text-decoration: none;
}

.main-footer [class*="icon-"]:before{
    position: relative;
    top: 3px;
    right: 5px;
}
/*------Estilos Responsive----*/
@media screen and (min-width:480px){
    .logo {
        color: white;
    }
    .main-header_contactInfo {
        text-align: right;
    }
    .banner {
        margin-top: -200px;
        z-index: -1000;
    }
    .main-header__contactInfo__phone {
        background: white;
    }
    .main-header__contactInfo__address {
        color: red;
    }
    .column--50 {
        width: 50%;
    }
    .main-nav {
        background: rgba(0,0,0,0.85)
    }
    .banner {
        margin-top: -145px;
        z-index: -1000;
    }
    .banner__img {
        height: 600px;
    }
    .banner__content {
        font-size: 2em;
    }
    .main{
        padding-bottom: 15px;
    }
    .main__about__description .column:nth-child(2) {
        padding-left: 20px;
        font-size: .9em;
    }
    .main__about__description .btn {
        margin: 0;
    }
    .today__special .colum {
        border: 5px solid #ddd;
        padding: 5px;
    }
    .today-special_img {
        height: 200px;
        object-fit: cover;
    }
    .main-footer .contaier--flex{
        align-items: flex-start;
    }

    .column--50 {
        width: 49%;
    }
    .column--50-25{
        width: 30%;
    }
    .column--33{
        width: 32%;
    }

}
@media screen and (min-width:768px){
    .main__title {
        font-size: 2.2em;
    }
    .main__about_description {
        margin-top: 30px;
    }
    .main__about__description .column--50:nth-child(2){
        font-size: 1em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt{
        line-height: 30px;
    }
    .column--50-25 {
        width: 24.5%;
    }
    .column__title{
        font-size: 1em;
    }
    .group__title{
        font-size: 2.2em;
    }
}
@media screen and (min-width:1024px) {
    .container {
        width: 1000px;
    }
    .logo{
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone,
    .main-header__contactInfo__address{
    padding-right: 0;
    font-size: 1.15em;
    }
    .mian-nav{
        padding: 0;
    }
    .banner__img {
        height: 760px;
    }
    .banner__content{
        font-size: 2.5em;
    }
    icon-menu{
        display: none;
    }
    .menu{
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }
    .menu__link{
        padding: 20px;
    }
    .group--color .container {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .main__title{
        font-size: 2.3em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt{
        line-height: 45px;
    }
    .today-special__title{
        font-size: 1.4em;
    }
    .today-special__price{
        font-size: 1.8em;
    }
    .main-footer{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (min-width:1600px){
    .container{
        width: 1400px;
    }
    .banner__img {
        height: 800px;
    }
    .main_about__description .column:nth-child(1) img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .today-special__img{
        height: 100px;
    }
}
