<section class="banner">
  <img src="./assets/bogota1.jpg" alt="" class="banner__img">
  <div class="banner__content">Herramienta de Denuncia Ciudadana</div>
</section>
<div #mapa style="width:60%;height:400px"></div>
<div class="modal-dialog">
  <div class="modal-content">
      <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
          <div class="modal-header">
              <h4 class="modal-title">Insertar Registro</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label>Latitud</label>
                  <input type="text" disabled ngModel name="latitud" class="form-control" required>
              </div>
              <div class="form-group">
                  <label>Longitud</label>
                  <input type="text" disabled ngModel name="longitud" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Dirección</label>
                <input type="text" disabled ngModel name="direccion" class="form-control" required>
            </div>
              <div class="form-group">
                  <label>Status</label>
                  <select name="status" ngModel="FLETEO" class="form-control" name="tipo" required>
                      <option value="COSQUILLEO">Cosquilleo</option>
                      <option value="FLETEO">Fleteo</option>
                      <option value="VEHICULO">Vehiculo</option>
                      <option value="INTERNET">Internet</option>
                      <option value="RESIDENCIAL">Residencial</option>
                      <option value="VIOLACION">Violación</option>
                      <option value="ASESINATO">Asesinato</option>
                      <option value="OTRO">Otro</option>
                  </select>
              </div>
          </div>
          <div class="modal-footer">
              <button type="submit" [disabled]="serverForm.invalid || (isLoading$ | async)"
                  class="btn btn-success">
                  <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
                  <span *ngIf="isLoading$ | async">Saving...</span>
                  <span *ngIf="!(isLoading$ | async)">Add</span>
              </button>
          </div>
      </form>
  </div>
</div>
