<!-- <div>{{ appState$ | async | json }}</div> -->

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a>
  <a routerLink="/registro" routerLinkActive="active" ariaCurrentWhenActive="page">Registro de Eventos</a>
  <a routerLink="/reporte" routerLinkActive="active" ariaCurrentWhenActive="page">Reporte</a>
  <a href="/#footer">Contacto</a>
</div>

<h2>Animated</h2>
<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; </span>


<notifier-container></notifier-container>
<router-outlet>

</router-outlet>

<div id="footer">
  <h1>Contacto</h1>
</div>
