<!-- <div>{{ appState$ | async | json }}</div> -->

<h2>Herramienta de Registro de Eventos Criminales</h2>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a>
  <a routerLink="/registro" routerLinkActive="active" ariaCurrentWhenActive="page">Registro de Eventos</a>
  <a routerLink="/reporte" routerLinkActive="active" ariaCurrentWhenActive="page">Reporte</a>
  <a href="/#footer">Contacto</a>
</div>

<span style="font-size:35px;cursor:pointer" (click)="openNav()">&#9776; </span>



<notifier-container></notifier-container>
<router-outlet>

</router-outlet>

<div id="footer">
  <h1>Contacto</h1>
  <div class="container container--flex">
    <div class="column column--33"><h2 class="column__title">Porque</h2>
    <p class="column__txt">a</p>
    <p class="column__txt">b</p>
    <p class="column__txt">c</p>
    </div>
    <div class="column column--33"><h2 class="column__title">De que</h2>
    <p class="column__txt">d</p>
    <p class="column__txt">e</p>
    <p class="column__txt">f</p>
    <p class="column__txt">g</p>
    </div>
    <div class="column column--33"><h2 class="column__title">O que</h2>
    <p class="column__txt"><a href="" class="icon-facebook">Facebook</a></p>
    <p class="column__txt"><a href="" class="icon-mail">lsfajardot@correo.udistriral.edu.co</a></p>
    </div>
    <p class="copy">Todos los derechos reservados</p>
</div>
</div>
